
.container {
	margin: 0 auto;
	max-width: 900px;
	padding: 10px;
}

.get-started {
	/* border: 1px solid; */



	height: 396px;
	display: flex;
	width: 100%;
	max-width: 900px;
	flex-direction: row-reverse;
	align-items: center;
	padding-top: 5%;
	text-align: center;
	margin: 50px auto 50px auto;
	/* border: 2px solid gray; */
}

.courses {
	display: flex;
	flex-wrap: wrap;
    width: 100%;
    border: 1px solid;

}

button {
	border: 1px solid;


	/* position: relative; */
	height: 33px;
	width: 44%;
	max-width: 447px;
	background-color: #f3f3f3;
}

.courses button {
	height: 33px;
	width: 104px;
	border-radius: 5px;
	background-color: #f5fff5;
}

button:hover {
	background-color: #f5fff5;
}

#nav-bar {
	/* position: relative; */
	font-family: 'Indie Flower', cursive;
	position: fixed;
	top: 0;
	width: 90%;
	background-color: skyblue;
	border-radius: 80px;
	margin: 0 auto;
	max-width: 900px;
	display: flex;
	z-index: 1;

}

#nav-bar .logo {

	border: 1px solid red;
	right: 0px;
	padding: 1%;
}


h1 {
	font-size: 88px;
	width: 88%;
	padding: 10% 0% 0% 10%;
	max-width: 450px;
}

/* button {
	background-color: white;
	padding: 1%;
	width: 20%;
	position: relative;
	display: flex;
} */

.top-img {
	display: flex;
	justify-content: center;
	/* border: 2px solid red; */
	width: 50%;
	max-width: 450px;
	height: 355px;
	margin-left: 5%;
	border: 1px solid;


}

.innovate {
	/* border: 2px solid red; */
	width: 50%;
	max-width: 450px;
}

.middle-img {
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.services-header-img {
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7.33%;
	display: flex;
}


.navigation {

	width: 70%;
	margin: 0;
	padding: 2%;
	text-decoration: none;
	word-spacing: 45px;
	text-align: center;
}

nav a {
	color: gray;
}
/* pseudo-class*/

a:hover {
	background-color: greenyellow;
	transition: all 0.9s ease-in-out;
	border-radius: 40px;

}

nav {
	display: flex;
	justify-content: space-evenly;
}



.top-content {
	padding-top: 5%;

	height: 150px;
	margin-bottom: 25px;
	position: relative;
	border-top: 1px solid;
}

p {
	font-family: 'Indie Flower', cursive;
}

.top-content p {
	margin-bottom: 25px;

}

#features {
	width: 50%;
	display: flex;
	flex-direction: column;
	position: absolute;
}

#about {
	display: flex;
	position: absolute;
	width: 50%;
	margin: 0px 50%;
	flex-direction: column;
}

.bottom-content {
	position: relative;
	height: 150px;
	margin-top: 25px;
	padding-bottom: 20%;
	border-bottom: 1px solid;
}

#services {
	display: flex;
	width: 33.33%;
	position: absolute;
	padding-left: 20px;
	flex-direction: column;

}

#android-services {
	background-color: #f3f3f3;

}

#ios-dev {
	background-color: #f3f3f3;
}

#web-dev {
	background-color: #f3f3f3;

}

#dm-services {
	background-color: #f3f3f3;


}

#ux-ui {
	background-color: #f3f3f3;

}

#design {
	background-color: #f3f3f3;

}

#product {
	display: flex;
	width: 33.33%;
	position: absolute;
	margin-left: 33.33%;
	padding-left: 20px;
	flex-direction: column;
}

#vision {
	display: flex;
	width: 33.33%;
	position: absolute;
	margin-left: 66.66%;
	padding-left: 20px;
	flex-direction: column;
}

.contact {
	margin: 1% auto ;
	display: flex;
	position: absolute;
	flex-direction: column;
	padding-bottom: 40px;
	width: 100%;
	max-width: 900px;
	line-height: 2px;

}


#copy {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}